/** TYPOGRAPHY **/
.standard-title {
  @include d-title;
};

.standard-text {
  @include d-text;

  a {
    color: $orange;
    font-weight: bold;
    text-decoration: underline;
  }
};

/** FORMS **/
.input-field.xs-input {
  @include d-input;
};

.input-field.xl-input {
  @include d-input;
};

.input-field.md-input {
  @include d-input;
};

.input-field.sm-input {
  @include d-input;
};

.input-field.lg-input {
  @include d-input;
};

.input-field.xl-input {
  @include d-input;
};

.input-field.large-length {
  input {
    width: 100% !important;
  };
};

.standard-button {
  @include standard-button;
};

.submit-button {
  @include submit;
};

.checkbox {
  @include checkbox;
};

.radio {
  @include radio;
};

.code {
  @include code;
};

.more-view {
  @include more-view;
};

.giant-title-size {
  font-size: $d-quote-author;
};

.title-size {
  font-size: $d-title;
};

.subtitle-size {
  font-size: $d-subtitle;
};

.text-size {
  font-size: $d-text;
};

.primary-font {
  font-family: $primary-family;
};

.secundary-font {
  font-family: $secundary-family;
};

.tertiary-font {
  font-family: $tertiary-family;
};

.bold-font {
  font-weight: bold;
};

.radius-10 {
  border-radius: 10px;
};

.radius-20 {
  border-radius: 20px;
};

.white-color {
  color: #ffffff;
};

.text-shadow {
  text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
};

.grey-card {
  @include grey-card;
};

.margin-0 {
  margin: 0;
};

.margin-top-20 {
  margin-top: 20px;
};

.margin-top-30 {
  margin-top: 30px;
};

.margin-top-50 {
  margin-top: 50px;
};

.padding-50-30 {
  padding: 50px 30px;
};

.p-relative {
  position: relative;
};

.p-absolute {
  position: absolute;
};

.p-fixed {
  position: fixed;
};

.avatar {
  @include avatar;
};

.avatar-big {
  width: 100px;
  height: 100px;
};

.avatar-standard {
  width: 50px;
  height: 50px;
};

.avatar-small {
  width: 30px;
  height: 30px;
};

.cover {
  @include cover;
};

.loader {
  @include loader;
}

.error {
  color: $red;
  text-align: center;
  font-family: $secundary-family;
  font-size: $d-text;
};

main {
  padding: 60px 0;
};

.w-100 {
  width: 100%;
  padding: 0 20px;
};

.w-70 {
  width: 70%;
  padding: 0 20px;
};

.w-30 {
  width: 30%;
  padding: 0 20px;
};

.left-sided {
  left: 0;
};

.right-sided {
  right: 0;
};

.no-scroll {
  .scroll::-webkit-scrollbar {
    display: none;
  };

  .scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  };
};

.custom-scroll {
  .scroll {
    scrollbar-color: $orange $grey;
  }

  .scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  .scroll::-webkit-scrollbar-track {
    background: $orange;
  }
  
  /* Handle */
  .scroll::-webkit-scrollbar-thumb {
    background: $orange;
  }
  
  .scroll::-webkit-scrollbar-thumb:hover {
    background: $orange;
  }
};