/** TYPOGRAPHY **/

// Title used on desktops
@mixin d-title {
  font-family: $secundary-family;
  color: $black;
  font-weight: 900;
  font-size: $d-title;
}

// Text used on desktops
@mixin d-text {
  font-family: $tertiary-family;
  color: $black;
  font-weight: normal;
  font-style: normal;
  font-size: $d-text;
}

@mixin section-title {
  h5 {
    font-family: $secundary-family;
    text-transform: uppercase;
    color: $darkgrey;
    font-size: $d-text;
    font-weight: bold;
    margin: 30px 0;
    border-bottom: $grey 1px solid;
    padding: 0px 0px 15px 0;
  }
}

@mixin none {
  font-family: $secundary-family;
  color: $black;
  font-size: $d-text;
  margin: 20px 0;
  background-color: $lightgrey;
  padding: 10px 20px;
  border-radius: 10px;
}

/** FORMS **/

// Input used on desktop
@mixin d-input {
  label,
  input {
    display: block;
  }

  label {
    font-family: $secundary-family;
    font-weight: 700;
    font-size: $d-text;
    margin: 0 0 10px 20px;
  }

  input {
    background: $white;
    border: 0.5px solid $grey;
    box-sizing: border-box;
    box-shadow: $standard-shadow;
    border-radius: 10px;
    height: 45px;
    padding: 0 20px;
    font-family: $tertiary-family;
    font-size: $d-text;
    transition: ease-in-out 0.2s;
    margin-bottom: 20px;
  }

  input:focus {
    border: 2px solid rgba($color: $orange, $alpha: 0.3);
    outline: none;
  }
}

@mixin datepicker {
  .datepicker__label {
    font-family: $secundary-family;
    font-weight: 700;
    font-size: $d-text;
    margin: 0 0 10px 20px;
  }

  button {
    margin-top: 10px;
    background: $white;
    border: 0.5px solid $grey;
    box-sizing: border-box;
    box-shadow: $standard-shadow;
    border-radius: 10px;
    height: 45px;
    padding: 0 20px;
    font-family: $tertiary-family;
    font-size: $d-text;
    transition: ease-in-out 0.2s;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
  }
}

@mixin videoUpload {
  margin-bottom: 20px;

  span {
    display: block;
  }

  .video-upload__text {
    &--label {
      font-family: $secundary-family;
      font-weight: 700;
      font-size: $d-text;
      margin-bottom: 10px;
    }

    &--description {
      font-family: $tertiary-family;
      font-weight: 200;
      font-size: $d-text;
      margin-bottom: 20px;
    }

    &--button {
      background-color: $orange;
      border-radius: 5px;
      padding: 10px 20px;

      span {
        background-color: white;
        padding: 10px 20px;
        display: inline-flex;
        cursor: pointer;
        border-radius: 5px;
        position: relative;

        input {
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }

        button {
          background: none;
          border: none;
          margin: 0;
          color: $orange;
          font-family: $secundary-family;
          font-weight: bold;
          font-size: $d-text;
          cursor: pointer;
        }
      }
    }
  }
}

@mixin slider {
  margin-bottom: 80px;

  span, input {
    display: block;
  }

  .slider__label {
    font-family: $secundary-family;
    font-weight: 700;
    font-size: $d-text;
    margin: 0 0 10px 20px;
  }

  .rangeslider {
    background: linear-gradient(90deg, #FF2020 0%, #FBFF44 50.52%, #00EE7C 100%);
    box-shadow: none;
  }
  
  .rangeslider-horizontal .rangeslider__fill{
    background-color: rgba($color: #000000, $alpha: 0.0);
  }

  .rangeslider-horizontal .rangeslider__handle:after {
    opacity: 0 !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15) !important;
  }

  .rangeslider__label-item {
    font-family: $secundary-family;
    font-weight: 400;
    font-size: $d-small;
    margin-top: 10px;
  }
}

@mixin textarea {
  label,
  textarea {
    display: block;
  }

  label {
    font-family: $secundary-family;
    font-weight: 700;
    font-size: $d-text;
    margin: 0 0 10px 20px;
  }

  textarea {
    background: $white;
    border: 0.5px solid $grey;
    box-sizing: border-box;
    box-shadow: $standard-shadow;
    border-radius: 10px;
    height: 45px;
    padding: 10px 20px;
    font-family: $tertiary-family;
    font-size: $d-text;
    transition: ease-in-out 0.2s;
    margin-bottom: 20px;
    width: 100%;
    resize: none;
    min-height: 120px;
  }

  textarea:focus {
    border: 2px solid rgba($color: $orange, $alpha: 0.3);
    outline: none;
  }
}

@mixin submit {
  background-color: $orange;
  width: 100%;
  border-radius: 10px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: $secundary-family;
  color: $white;
  font-size: $d-text;
  font-weight: bold;
}

@mixin checkbox {
  display: flex;
  align-items: center;
  margin: 0 0 15px 20px;

  label {
    position: relative;
    width: rem(23px);
    height: rem(23px);
    margin-right: 10px;

    span {
      width: 100%;
      height: 100%;
      background-color: $orange;
      border-radius: 6px;
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        height: 10px;
      }
    }

    input {
      opacity: 0;
      position: absolute;
      width: rem(23px);
      height: rem(23px);
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }

  p {
    margin: 0;
    font-family: $secundary-family;
    font-size: $d-text;

    a {
      color: $orange;
      font-weight: 700;
    }
  }
}

@mixin file {
  position: relative;
  cursor: pointer;

  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 900;
    cursor: pointer;
  }
}

@mixin duration {
  label {
    font-family: $secundary-family;
    font-weight: 700;
    font-size: $d-text;
    margin: 0 0 10px 20px;
    display: block;
  }

  .duration__field {
    background: $white;
    border: 0.5px solid $grey;
    box-sizing: border-box;
    box-shadow: $standard-shadow;
    border-radius: 10px;
    height: 45px;
    padding: 0 20px;
    font-family: $tertiary-family;
    font-size: $d-text;
    transition: ease-in-out 0.2s;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;

    input {
      display: flex;
      text-align: center;
      border: none;
      outline: none;
      margin-right: 0px 5px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }
  }
}

@mixin distance {
  label {
    font-family: $secundary-family;
    font-weight: 700;
    font-size: $d-text;
    margin: 0 0 10px 20px;
    display: block;
  }

  .distance__field {
    background: $white;
    border: 0.5px solid $grey;
    box-sizing: border-box;
    box-shadow: $standard-shadow;
    border-radius: 10px;
    height: 45px;
    padding: 0 20px;
    font-family: $tertiary-family;
    font-size: $d-text;
    transition: ease-in-out 0.2s;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      display: flex;
      justify-content: center;
      text-align: center;
      border: none;
      outline: none;
      width: 60%;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

    &--button {
      width: 25px;
      height: 25px;
      background-color: $orange;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      span {
        font-family: $primary-family;
        font-size: $d-subtitle;
        color: white;
        font-weight: 800;
      }
    }
  }
}

@mixin radio {
  display: flex;
  align-items: center;
  margin: 0 0 15px 20px;

  label {
    position: relative;
    width: rem(23px);
    height: rem(23px);
    margin-right: 10px;

    span {
      width: 100%;
      height: 100%;
      background-color: $orange;
      border-radius: 6px;
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        height: 10px;
      }
    }

    input {
      opacity: 0;
      position: absolute;
      width: rem(23px);
      height: rem(23px);
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }

  p {
    margin: 0;
    font-family: $secundary-family;
    font-size: $d-text;

    a {
      color: $orange;
      font-weight: 700;
    }
  }
}

@mixin standard-button {
  background-color: $orange;
  border-radius: 5px;
  padding: 10px 20px;
  color: $white;
  font-family: $secundary-family;
  font-weight: bold;
  font-size: $d-text;
  cursor: pointer;
}

@mixin grey-button {
  background-color: $lightgrey;
  border-radius: 5px;
  padding: 10px 20px;
  color: $black;
  font-family: $secundary-family;
  font-weight: bold;
  font-size: $d-text;
  cursor: pointer;
}

@mixin delete-button {
  background-color: $red;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-family: $secundary-family;
  font-weight: bold;
  font-size: $d-text;
  cursor: pointer;
}

@mixin code {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;

  input {
    width: 23%;
    height: 60px;
    border: none;
    border-radius: 10px;
    display: flex;
    border: solid rgba($color: $orange, $alpha: 0.3) 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $secundary-family;
    font-size: $d-text;
    font-weight: bold;
    box-shadow: $standard-shadow;
  }

  input:focus {
    outline: none;
  }
}

/** LINKS **/

@mixin more-view {
  background: #FFFFFF;
  border: 1px solid #F4F4F4;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(96, 96, 96, 0.1);
  border-radius: 9px;
  top: 60px;
  z-index: 1000;

  &__link {
    border-bottom: 1px solid $grey;
    padding: 10px 10px;
    cursor: pointer;

    &--delete {
      padding: 10px 10px;
      font-family: $tertiary-family;
      font-size: $d-text;
      color: $red;
      cursor: pointer;
  
      img {
        height: 20px;
        margin-right: 10px;
      }
  
      svg {
        height: 25px;
        width: 25px;
        margin-right: 10px;
      }
  
      svg,
      path {
        height: 25px;
        width: 25px;
        fill: $red;
      }
    }

    a {
      text-decoration: none;
      color: black;
    }

    font-family: $tertiary-family;
    font-size: $d-text;

    img {
      height: 20px;
      margin-right: 10px;
    }

    svg {
      height: 20px;
      width: 20px;
      margin-right: 10px;
    }

    svg,
    path {
      fill: $orange;
      height: 20px;
    }
  }

  &__user {
    cursor: pointer;
    margin: 10px 0;
  }
}

/** CARDS **/

@mixin grey-card {
  background-color: $lightgrey;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

/** IMAGES **/

@mixin avatar {
  display: flex;
  border-radius: 100%;
  background-size: cover;
  background-position: center center;
}

@mixin cover {
  width: 100%;
  height: 140px;
  background-size: cover;
  background-position: center center;
  display: flex;
}

@mixin loader {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
}