.landing {
  min-height: 100vh;
  overflow: hidden;

  &__header {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 1000;
    transition: ease-in-out 0.5s;

    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
    }

    &--link {
        img {
          height: 45px;
          margin-right: 30px;
        }

        font-family: $secundary-family;
        font-size: $d-nav;
        color: black;
        text-decoration: none;
        cursor: pointer;
        margin-right: 25px;
    }

    &--link:hover {
      color: black;
    }
  }

  &__header.scrolling-header {
    background-color: rgba($color: #ffffff, $alpha: 1);
    padding: 20px 0 10px 0;
    box-shadow: 0 0 25px rgba($color: #5a5a5a, $alpha: 0.2);
  }

  &__first {
    position: relative;
  }

  &__front--mob {
    padding-top: 150px;
    height: 90vh;
    background-size: cover;
    background-position: bottom center;
    backdrop-filter: blur(100px);
    position: relative;
    z-index: 99;

    &--title {
      font-family: $secundary-family;
      font-size: $d-quote-author;
      font-weight: 700;
      text-align: center;
      margin-bottom: 30px;
    }

    &--mockup {
      margin-top: 80px;
      img {
        height: 400px;
      }
    }
  }
  
  &__front {
    height: 718px;
    background-size: cover;
    background-position: bottom center;
    backdrop-filter: blur(100px);
    position: relative;
    z-index: 99;
    padding: 100px 100px 0 100px;

    &--text {
      padding-right: 50px;
    }

    &--title {
      font-family: $secundary-family;
      font-size: $d-quote-title;
      font-weight: 700;
      width: 500px;
      margin-bottom: 20px;
    }

    &--mobile-title {
      font-family: $secundary-family;
      font-size: $d-quote-title;
      font-weight: 700;
      margin-bottom: 20px;
    }

    &--wrapper {
      position: relative;
      padding-right: 50px;
      height: 600px;
    }

    &--mockup {
      height: 600px;
    }
  }

  &__back {
    position: absolute;
    width: 611px;
    height: 611px;
    background-color: $orange;
    top: -300px;
    right: -300px;
    z-index: 1;
    border-radius: 100%;
  }

  &__features {
    margin-top: 200px;
  }

  &__testimonials {
    margin-top: 100px;
    background-color: $orange;
    padding: 150px 200px 50px 250px;

    &__card {
      box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
      border-radius: 8px;
      padding: 35px 35px 35px 70px;
      background-color: white;
      position: relative;

      p {
        font-family: $tertiary-family;
        font-size: $d-text;
        font-weight: 200;
        opacity: 0.5;
      }

      h6 {
        font-family: $secundary-family;
        font-size: $d-subtitle;
        font-weight: 700;
        margin-bottom: 0px;
      }

      span {
        font-family: $tertiary-family;
        font-size: $d-text;
        font-weight: 200;
      }

      img {
        position: absolute;
        left: 35px;
        top: 35px;
      }

      &--large {
        width: 100%;
      }

      &--medium {
        width: 70%;
        margin-top: 20px;
      }
    }

    &__right {
      width: 50%;
      padding: 10px;
    }

    &__left {
      width: 50%;
      padding: 10px;

      &--title {
        position: relative;
        margin-bottom: 50px;

        img {
          position: absolute;
          left: -50px;
          top: -80px;
        }

        h1 {
          color: white;
          font-family: $secundary-family;
          font-weight: bold;
          font-size: $d-quote-title;
        }
      }
    }
  }

  &__featured-content {
    &--title {
      text-align: center;
      font-family: $secundary-family;
      font-size: $d-title;
      font-weight: 700;
    }

    &--text {
      text-align: center;
      font-family: $tertiary-family;
      font-size: $d-text;
      font-weight: 200;
      opacity: 0.5;
      margin-top: 30px;
    }

    &__items {
      margin-top: 80px;

      &--item {
        padding: 0 30px;
      }

      h6 {
        text-align: center;
        margin-top: 30px;
        font-family: $secundary-family;
        font-size: $d-subtitle;
        font-weight: 700;
      }

      p {
        text-align: center;
        font-family: $tertiary-family;
        font-size: $d-text;
        font-weight: 200;
        opacity: 0.5;
        margin-top: 20px;
      }
    }
  }

  &__stories {
    &--last {
      margin-top: 100px;
      margin-bottom: 100px;

      &__mockup {
        background-color: #F8F8F8;
        height: 500px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 60%;
        }
      }

      h1 {
        font-family: $secundary-family;
        font-size: $d-title;
        font-weight: 700;
        margin-bottom: 30px;
      }

      p {
        font-family: $tertiary-family;
        font-size: $d-text;
        font-weight: 200;
        opacity: 0.5;
        margin-bottom: 30px;
      }

      &__text {
        padding: 80px 30px 0 30px;
      }
    }

    &--digits {
      margin-top: 150px;
      padding: 0 30px;

      &--context {
        margin-bottom: 20px;
        h1 {
          font-family: $secundary-family;
          font-size: $d-title;
          font-weight: 700;
        }

        p {
          font-family: $tertiary-family;
          font-size: $d-text;
          font-weight: 200;
          opacity: 0.5;
        }
      }

      &--item {
        margin-bottom: 30px;

        img {
          margin-right: 20px;
        }

        h5 {
          font-family: $secundary-family;
          font-size: $d-title;
          font-weight: 700;
          color: $orange;
          margin: 0;
        }

        span {
          font-family: $tertiary-family;
          font-size: $d-text;
          font-weight: 200;
          opacity: 0.5;
        }
      }
    }
  }
}