.dashboard-card {
  position: relative;

  &-wrapper {
  }
}

.club-card {
  padding-bottom: 30px;
  &--cover {
    margin-bottom: -80px; 
  };
};

.cyclists-card {
  padding: 50px 30px 50px 30px;

  &__overview {
    padding-bottom: 20px;
    max-height: 200px;
    overflow-y: scroll;
  };
};