.activities-switch {
  &__image {
    position: relative;
    margin-right: 20px;
    cursor: pointer;

    img {
      height: 15px;
      position: absolute;
      right: 0;
      bottom: -5px;
    };
  };

  &__more {
    top: 30px;
    position: absolute;
    padding: 20px;
    max-height: 200px;
    width: 300px;
    overflow: scroll;
  };
};

.activity-images {
  margin-top: 30px;
  flex-wrap: wrap;
  margin-right: 10px;

  &__wrapper.view-full {
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  &__img-small {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    border: 1px solid $orange;
  }

  &--full {
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    position: relative;

    &__close {
      background-color: white;
      box-shadow: $standard-shadow;
      height: 30px;
      width: 30px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;

      svg, path {
        width: 15px;
        fill: $orange;
      }
    }
  }
}