.activities-switch {
  &__image {
    position: relative;
    margin-right: 20px;
    cursor: pointer;

    img {
      height: 15px;
      position: absolute;
      right: 0;
      bottom: -5px;
    };
  };

  &__more {
    top: 30px;
    position: absolute;
    padding: 20px;
    max-height: 200px;
    width: 300px;
    overflow: scroll;
  };
};