.challenge-overview {
  margin-top: 50px;

  h2 {
    margin: 0;
  }

  &__items {
    margin-top: 20px;

    &--item {
      padding: 20px;
      margin-bottom: 10px;
    }
  }
}

.challenge-card {
  padding: 30px 20px;
  margin-bottom: 30px;
}

.create-challenge {
  &__radio {
    .radio {
      margin-left: 0;
    }
  }
}

.badge-upload {
  flex-wrap: wrap;
  padding-bottom: 30px;

  .standard-badge {
    margin-right: 30px;
  }

  &__buttons {
    &--edit {
      position: relative;

      input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }
  }
}

.challenge-content {
  &__image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
  }
}

.dashboard-challenge {
  padding: 0px 40px;
  position: relative;

  &__charts {
    height: 300px;
  }

  &__submissions {
    height: 300px;

    &--item {
      height: 100%;
      width: 300px;
      background-color: white;
      box-shadow: $standard-shadow;
      margin-bottom: 20px;
      padding: 20px;

      .p-absolute {
        z-index: 100;
        right: 10px;
        top: 10px;
      }

      .activities__map {
        height: 200px;
      }
    }
  }

  &__card {
    width: 300px;
    padding: 20px;
    display: inline;
    background-color: white;
    position: absolute;
    right: 40px;

    svg, path {
      width: 15px;
      height: 15px;
    }

    h5 {
      overflow-wrap: break-word;
    }
  }

  &__charts {
    &--item {
      margin-right: 10px;
      align-items: flex-end;
      position: relative;
      &__content {
        &--distance {
          background-color: white;
          display: inline-flex;
          position: absolute;
          top: -50px;
          box-shadow: $standard-shadow;
          padding: 10px 20px;
          font-family: $secundary-family;
          font-size: $d-text;
          font-weight: 800;
        }
        &--bar {
          margin-top: 10px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          width: 20px;
          background-color: $orange;
        }
      }
    }
  }
}

.submission-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1001;
  background-color: rgba($color: #000000, $alpha: 0.8);
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;

  &__card {
    background-color: white;
    padding: 40px;
    position: relative;
    z-index: 1002;
  }
}

.submission {
  &-card {
    box-shadow: 0px 0px 10px rgba(96, 96, 96, 0.11);
    padding: 20px;

    &__check {
      background-color: #17E713;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    &__image {
      width: 100%;
      height: 200px;
      background-size: cover;
      background-position: center center;
    }
  }

  &__activity-upload {
    &__list {
      height: 200px;
      overflow-y: scroll;
    }

    &--item {
      background-color: $lightgrey;
      padding: 20px 20px;
      width: 400px;
      transition: ease-in-out 0.5s;
      margin-bottom: 10px;

      h6 {
        margin: 0;
      }

      svg, path {
        fill: $orange;
        width: 20px;
        height: 20px;
      }
    }

    &--item.selected-activity {
      background-color: $orange;

      h6 {
        color: white;
      }

      span {
        color: white;
      }

      svg, path {
        fill: white;
      }
    }

    &--item:hover {
      opacity: 0.7;
    }
  }

  &__image-upload {
    &--preview {
      width: 200px;
      height: 200px;
      border: 1px solid $orange;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $secundary-family;
      font-size: 50px;
      font-weight: bold;
      color: $orange;
      margin-right: 20px;
      background-size: cover;
      background-position: center center;
    }

    &--buttons {
      display: flex;
      align-items: center;

      &--create {
        background-color: $orange;
        border-radius: 5px;
        padding: 10px 20px;
        color: $white;
        font-family: $secundary-family;
        font-weight: bold;
        font-size: $d-text;
        cursor: pointer;
        position: relative;
        margin-right: 10px;

        input {
          position: absolute;
          opacity: 0;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    &--progress {
      width: 100%;
      height: 30px;
      border-radius: 10px;
      background-color: $lightgrey;
      overflow: hidden;

      &--inside {
        height: 100%;
        background-color: $orange;
        transition: ease-in-out 0.7s;
      }
    }
  }
}