.events-calendar {
  padding: 30px 40px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(96, 96, 96, 0.11);
  border-radius: 5px;
  width: 100%;
  min-height: 500px;

  .lower-date {
    margin-top: 55.5px;
  }

  &__month-change {
    svg {
      cursor: pointer;
    }

    p {
      padding: 0 10px;
      margin: 0;
    }
  }

  &__dates-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    &--bar {
      &--digit {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 100%;
        margin-bottom: 5px;
        transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
      }

      &--digit.current-day {
        background-color: rgba($color: $orange, $alpha: 1);
        font-weight: bold;
      }

      &--digit:hover {
        background-color: rgba($color: $orange, $alpha: 0.3);
      }

      &--date {
        margin-bottom: 10px;
      }
    }
  }
}

.events {
  &__items {
    margin-top: 20px;

    &--item {
      cursor: pointer;
      border-bottom: 1px #F6F6F6 solid;
      padding: 10px 0 20px 0;

      &--icon {
        margin-top: 10px;
        margin-left: 10px;

        svg, path {
          width: 17px;
          height: 17px;
          fill: $orange;
          margin-right: 5px;
        }
      }

      &--icon:nth-of-type(1) {
        margin-left: 0px;
      }
    }
  }
}

.event {
  &__detail-item {
    margin-bottom: 20px;

    span {
      font-family: $secundary-family;
      font-size: $d-small;
      font-weight: 400;
    }

    &--content {
      background-color: $orange;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;

      svg, path {
        fill: $white;
        height: 20px;
        width: 20px;
      }
    }
  }
}