.events-calendar {
  padding: 30px 40px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(96, 96, 96, 0.11);
  border-radius: 5px;
  width: 100%;
  min-height: 500px;

  &__events {
    margin-top: 20px;

    &-item {
      background-color: $lightgrey;
      cursor: pointer;
      padding: 15px 20px;
      border-radius: 5px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: ease-in-out 0.5s;

      h5 {
        margin-bottom: 5px;
      }
      
      span {
        background-color: $orange;
        padding: 5px 20px;
        color: white;
        border-radius: 5px;
        text-transform: capitalize;
      }
    }

    &-item:hover {
      opacity: 0.8;
    }
  }

  .lower-date {
    margin-top: 55.5px;
  }

  &__month-change {
    svg {
      cursor: pointer;
    }

    p {
      padding: 0 10px;
      margin: 0;
    }
  }

  &__dates-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    &--bar {
      &--digit {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 100%;
        margin-bottom: 5px;
        transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
      }

      &--digit.current-day {
        background-color: rgba($color: $orange, $alpha: 1);
        font-weight: bold;
      }

      &--digit:hover {
        background-color: rgba($color: $orange, $alpha: 0.3);
      }

      &--date {
        margin-bottom: 10px;
      }
    }
  }
}

.events {
  &__items {
    margin-top: 20px;

    &--item {
      cursor: pointer;
      border-bottom: 1px #F6F6F6 solid;
      padding: 10px 0 20px 0;

      &--icon {
        margin-top: 10px;
        margin-left: 10px;

        svg, path {
          width: 17px;
          height: 17px;
          fill: $orange;
          margin-right: 5px;
        }
      }

      &--icon:nth-of-type(1) {
        margin-left: 0px;
      }
    }
  }
}

.event {
  &__participants {
    .avatar {
      box-shadow: $standard-shadow;
      margin-left: -5px;
    }

    .avatar:nth-of-type(1) {
      margin-left: 0;
    }
  }

  &__detail-item {
    margin-bottom: 20px;

    span {
      font-family: $secundary-family;
      font-size: $d-small;
      font-weight: 400;
    }

    &--content {
      background-color: $orange;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;

      svg, path {
        fill: $white;
        height: 20px;
        width: 20px;
      }
    }
  }
}

.comments {
  &__edit {
    width: 100%;
  }
  &__item {
    border-bottom: 1px solid $lightgrey;
    padding: 20px 0;

    &--actions {
      svg:nth-of-type(1) {
        fill: $orange;
        margin-right: 10px;
      }

      svg,path {
        cursor: pointer;
        height: 15px;
        width: 15px;
      }
    }
  }
  &__field {
    background: $white;
    border: 0.5px solid $grey;
    box-sizing: border-box;
    box-shadow: $standard-shadow;
    border-radius: 10px;
    height: 45px;
    padding: 0 20px;
    font-family: $tertiary-family;
    font-size: $d-text;
    transition: ease-in-out 0.2s;
    flex: 1;
    margin-right: 20px;
  }

  &__field:focus {
    border: 2px solid rgba($color: $orange, $alpha: 0.3);
    outline: none;
  }
}

.presence-wrapper {
  &__item {
    padding: 10px 0;
    border-bottom: 1px solid $lightgrey;

    &--check {
      background-color: $orange;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      cursor: pointer;

      svg, path {
        width: 12px;
        height: 12px;
      }
    }
  }
}