.requirements {
  margin-top: 30px;

  &-popup {
    position: absolute;
    background-color: white;
    z-index: 999;
    box-shadow: $standard-shadow;
    border-radius: 5px;
    padding: 30px 20px 10px 20px;
  }

  &__item {
    p {
      margin: 0;
    }

    border-bottom: 1px solid $lightgrey;
    padding: 20px 0;
  }
}