.reward-content {
  box-shadow: $standard-shadow;
  background: white;
  height: 500px;
  width: inherit;
  border-radius: 10px;
  width: 100%;

  &-none {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    h2 {
      margin: 0;
    }
  }
}

.system-shortcuts {
  box-shadow: $standard-shadow;
  background: white;
  padding: 40px 30px;
  width: 100%;
  border-radius: 10px;
}

.crud-system {
  &--item {
    padding: 20px 0;
    border-bottom: 1px solid $lightgrey;

    &__buttons {
      span {
        cursor: pointer;

        svg, path {
          fill: $orange;
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}