.short-user-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
  position: relative;

  &__left {
    display: flex;
    align-items: center;

    .avatar {
      margin-right: 20px;
    };
  };

  &__right {
    cursor: pointer;
     svg {
       height: 20px;
     };
  };

  &__more {
    position: absolute;
    right: 0;
    top: 40px;
  };
};

.user-card {
  width: 100%;

  &__cover {
    background-size: cover;
    background-position: center center;
    height: 200px;
    width: 100%;
  };

  &__bio {
    margin-top: 30px;
  };

  &__extra {
    margin-top: 10px;
    padding: 10px;
  };
};

.user-overview {
  &__top {
    margin-bottom: 40px;

    &--left {
      &--switch {
        margin-top: 20px;

        strong.darkgrey-color {
          cursor: pointer;
        };

        strong:nth-of-type(1) {
          margin-right: 10px;
        };
      };
    };
  };

  &__content {
    &--paginate-wrapper {
      margin-top: 10px;
      height: 20px;
    };

    &--paginate {
      position: absolute;
      cursor: pointer;
      transition: ease-in-out 0.2s;
    };

    &--paginate:hover {
      color: $orange;
    };

    &--paginate.previous-paginate {
      left: 0;
      top: 0;
    };

    &--paginate.next-paginate {
      right: 0;
      top: 0;
    };
  };
};

.user-pts {
  h3 {
    font-size: 50px;
    margin: 0;
  }
}

.user-stats {
  padding: 10px 0;
  width: 100%;
  flex-wrap: wrap;

  &__item {
    display: inline-block;
    padding: 0px 20px;
    svg {
      height: 35px;
      width: 35px;
    }

    h5 {
      margin: 10px 0 0 0; 
      text-align: center;
    }
  }

  &__line {
    height: 80px;
    width: 1px;
    background-color: $darkgrey;
    border-radius: 100%;
  }
}

.user-level-bar {
  &__text {
    margin-left: 10px;
    margin-bottom: 20px;
  }

  &__content {
    &--box {
      width: 100%;
      height: 25px;
      background-color: $grey;
      border-radius: 10px;
      position: relative;
      overflow: hidden;

      &--inside {
        height: 100%;
        background: linear-gradient(270deg, rgba(255, 233, 32, 0) 0%, #FFE920 11.98%, #FFBC44 50.52%, #FF9A23 100%);
      }
    }
  }
}