.welcome {
  height: 230px;

  &__holder {
    height: 230px;
    width: 100%;
    left: 0;
    background: $orange-gradient;
    border-radius: 10px; 
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--image {
      width: 50%;
      overflow: hidden;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      img {
        height: 200%;
        width: 100%;
        object-fit: contain;
        object-position: 0 -50px;
      }
    };

    &--text {
      width: 50%;

      h2, p {
        margin: 0;
      };
    };
  };
};

.m-welcome {
  .welcome__holder {
    position: absolute;
    border-radius: 0px;
  };
};